In [1]:
%pip install pandas -q

[notice] A new release of pip is available: 23.0.1 -> 24.3.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [2]:
dataset_name: str = "AX-g/AX-g.jsonl"

In [3]:
from os.path import abspath, join

dataset_path: str = join(abspath(""), "..", "..", "datasets", dataset_name)
dataset_path

'/Users/manuel/PersonalProjects/thesis/notebooks/sampling/../../datasets/AX-g/AX-g.jsonl'

In [4]:
from json import loads
from typing import List, Dict, Any

with open(dataset_path, "r") as file:
    records: List[Dict[str, Any]] = [loads(e) for e in file]
print(f"Found {len(records)} records")

Found 356 records

In [5]:
import pandas as pd

dataframe: pd.DataFrame = pd.DataFrame(records)
dataframe.head()

,hypothesis,idx,label,pair_id,premise
0,The accountant sought help filing taxes.,0,not_entailment,551646,The taxpayer met with the accountant to get he...
1,The accountant sought help filing taxes.,1,not_entailment,551648,The taxpayer met with the accountant to get he...
2,The supervisor performed well.,2,not_entailment,551654,The supervisor gave the employee feedback on h...
3,The supervisor performed well.,3,not_entailment,551656,The supervisor gave the employee feedback on h...
4,The supervisor has a managing style.,4,entailment,551658,The employee gave the supervisor feedback on h...

In [6]:
len(dataframe)

356

In [7]:
if len(dataframe) >= 500:
    sampled_dataframe: pd.DataFrame = dataframe.sample(n=500)
else:
    sampled_dataframe = dataframe
sampled_dataframe.head()

,hypothesis,idx,label,pair_id,premise
0,The accountant sought help filing taxes.,0,not_entailment,551646,The taxpayer met with the accountant to get he...
1,The accountant sought help filing taxes.,1,not_entailment,551648,The taxpayer met with the accountant to get he...
2,The supervisor performed well.,2,not_entailment,551654,The supervisor gave the employee feedback on h...
3,The supervisor performed well.,3,not_entailment,551656,The supervisor gave the employee feedback on h...
4,The supervisor has a managing style.,4,entailment,551658,The employee gave the supervisor feedback on h...

In [8]:
from json import dumps

sampled_records: List[Dict[str, Any]] = sampled_dataframe.to_dict(orient="records")
sampled_records.sort(key=lambda r: r["idx"])
sampled_records_jsonl: List[str] = [dumps(record) for record in sampled_records]
sampled_records_jsonl[0]

'{"hypothesis": "The accountant sought help filing taxes.", "idx": 0, "label": "not_entailment", "pair_id": 551646, "premise": "The taxpayer met with the accountant to get help filing his taxes."}'

In [9]:
destination_path: str = "/".join([d for d in dataset_path.split("/")[:-1]]) + "/sampled.jsonl"
destination_path

'/Users/manuel/PersonalProjects/thesis/notebooks/sampling/../../datasets/AX-g/sampled.jsonl'

In [10]:
with open(destination_path, "w") as file:
    file.write("\n".join(sampled_records_jsonl))